
    /*New CSS*/

    .form-title

{
    font-size: 14px !important;
    font-weight: 700;
    padding-bottom: 10px !important;
    border-bottom: 1px solid lightgray;
}

.box-shadow {
    box-shadow: 1px 1px 5px 1px lightgray;
    padding: 20px;
    width: auto;
    border-radius: 10px;
}

.center {
    margin: auto;
    width: 60%;
}

/*End of New CSS*/

