

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary {
        width: 67%;
    }

    #secondary {
        width: 30%;
        margin-left: 3%;
    }
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary {
        width: 100%;
    }

    #secondary {
        width: 100%;
        margin: 0;
        border: none;
    }
}

.mybutton {
    float: right;
}

.heading {
    text-align: center;
    font-size: 20px;
}

.errlabel {
    float: right;
}

.imgbutton {
    margin-left: -240px;
}

.imgbutton2 {
    margin-left: -240px;
}

.ErrMsg {
    color: red;
}

.Alignments {
    margin: 0 auto;
    width: 700px;
}

.Alignments1 {
    margin: 0 auto;
    width: 1000px;
}

.Alignments11 {
    margin: 0 auto;
    width: 1500px;
}

.Alignments2 {
    margin: 0 auto;
    width: 2200px;
}

.greenLine {
    background-color: #1e8449;
    height: 3px;
}

.center-Alingment {
    text-align: center;
    font-size: 30px;
}


.mGrid {
    color: #000;
}

    .mGrid a {
        background-color: #ccc;
        padding: 5px 7px;
        text-decoration: none;
        border: 0px solid #fff;
    }

        .mGrid a:hover {
            background-color: #ccc;
            color: #787878;
            border: 0px solid #000;
        }

    .mGrid td {
        border: 1px solid #000;
        text-align: left;
    }

    .mGrid th {
        background-color: #1B8257;
        color: #fff;
        border: 1px solid #fff;
    }