


:root {
    --blue: #003677;
    --green: #1B8257;
    --white: #FFFFFF;
    --black: #000000;
    --light: #ECECEC;
    --fntFamily1: 'Roboto Slab', serif;
    --fntFamily2: 'Roboto Condensed', sans-serif;
    --fnt14: 0.875rem;
    --fnt16: 16px;
    --fnt18: 1.125rem;
    --fnt20: 20px;
    --fnt24: 1.5rem;
    --fnt32: 2rem;
    --fnt56: 3.5rem;
    --fnt70: 70px;
    --boxShadow1: 0 0 20px #c0c0c0;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*New CSS*/


#main {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    width: 100%;
}

    #main > .inner {
        padding: 0 !important;
        padding: 0 0.95em 0.1em 0.8em;
        margin: 0 auto;
        max-width: 135em;
        background-color: #fff;
    }

        #main > .inner > section {
            padding: 6em 0 4em 0;
            /*border-top: solid 2px rgba(210, 215, 217, 0.75);border-top: solid 2px rgba(210, 215, 217, 0.75);*/
        }

            #main > .inner > section:first-of-type {
                border-top: 0 !important;
            }

@media screen and (max-width: 1680px) {

    #main > .inner {
        padding: 0 3em 0.1em 0.8em;
    }

        #main > .inner > section {
            padding: 5em 0 3em 0;
        }
}

.mainHeaderimg {
    margin-top: 4em;
    margin-left: 0em;
    width: 85%;
}

@media screen and (max-width: 1280px) {

    #main > .inner {
        padding: 0 4em 0.1em 4em;
        font-size: 12pt;
    }

        #main > .inner > section {
            padding: 1em 0 0em 0;
        }
}

@media screen and (max-width: 736px) {

    #main > .inner {
        padding: 0 2em 0.1em 2em;
    }

        #main > .inner > section {
            padding: 3em 0 1em 0;
        }
}
    #search form {
        text-decoration: none;
        position: relative;
    }

        #search form:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            text-transform: none !important;
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
        }

        #search form:before {
            -moz-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
            transform: scaleX(-1);
            color: #fff !important;
            content: '\f002';
            cursor: default;
            display: block;
            font-size: 12px;
            height: 2em;
            line-height: 2em;
            opacity: 0.325;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            width: 2em;
        }

        #search form input[type="text"] {
            padding-right: 2.75em;
        }

    #sidebar {
        -moz-flex-grow: 0;
        -webkit-flex-grow: 0;
        -ms-flex-grow: 0;
        flex-grow: 0;
        -moz-flex-shrink: 0;
        -webkit-flex-shrink: 0;
        -ms-flex-shrink: 0;
        flex-shrink: 0;
        -moz-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
        -webkit-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
        -ms-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
        transition: margin-left 0.5s ease, box-shadow 0.5s ease;
        background-color: #f5f6f7;
        font-size: 0.75em;
        position: relative;
        width: 29em;
        background-color: #fff !important;
    }

        #sidebar h2 {
            font-size: 1.38889em;
            text-transform: uppercase !important;
        }

        #sidebar > .inner {
            position: relative !important;
            width: 26em !important;
            border-right: solid 1px var(--light);
            padding: 0 !important;
            padding-top: 20px !important;
        }

            #sidebar > .inner > * {
                border-bottom:0 !important;
                background-color: #fff;
                padding: 0 0 1.5em 0 !important;
            }

                #sidebar > .inner > * > :last-child {
                    margin-bottom: 0;
                }

                #sidebar > .inner > *:last-child {
                    border-bottom: 0;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }

            #sidebar > .inner > .alt {
                background-color: transparent !important;
                border-bottom: 0;
                padding-left: 3.52222em !important;
                margin: -2.22222em 0 .44444em -2.22222em !important;
                width: calc(100% + 1em) !important;
            }


        #sidebar .toggle {
            text-decoration: none !important;
            -moz-transition: left 0.5s ease !important;
            -webkit-transition: left 0.5s ease !important;
            -ms-transition: left 0.5s ease !important;
            transition: left 0.5s ease !important;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
            border: 0 !important;
            display: block !important;
            height: 7.5em !important;
            left: 26em !important;
            line-height: 2.5em !important;
            outline: 0 !important;
            overflow: hidden !important;
            position: absolute !important;
            text-align: center !important;
            text-indent: 7.5em !important;
            top: 0 !important;
            width: 6em !important;
            color: var(--green);
            z-index: 10000 !important;
        }

            #sidebar .toggle:before {
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                text-transform: none !important;
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
            }

            #sidebar .toggle:before {
                content: '\f0c9';
                font-size: 3em;
                height: 100%;
                left: 0;
                line-height: inherit;
                margin-top: 0.45em;
                position: absolute;
                text-indent: 0;                
                top: 0;
                width: inherit;
            }

        #sidebar.inactive {
            margin-left: -26em;
        }

@media screen and (max-width: 1680px) {

    #sidebar {
        width: 26em;
    }

        #sidebar > .inner {
            padding: 1.66667em 1.66667em 1.33333em 1.66667em;
            width: 26em;
        }

            #sidebar > .inner > .alt {
                margin: -1.66667em 0 0.33333em -1.66667em;
                padding: 1.66667em;
                width: calc(100% + 3.33333em);
            }

        #sidebar .toggle {
            height: 6.25em;
            left: 25.5em;
            line-height: 6.25em;
            text-indent: 5em;
            width: 5em;
        }

            #sidebar .toggle:before {
                font-size: 3.5em;
                margin-top: 0.45em;
                margin-left: 0.15em;
            }

        #sidebar.inactive {
            margin-left: -24em;
        }
}

@media screen and (max-width: 1280px) {

    #sidebar {
        box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.175);
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        z-index: 10000;
        width: 40em;
    }

        #sidebar.inactive {
            box-shadow: none;
        }

        #sidebar > .inner {
            -webkit-overflow-scrolling: touch;
            height: 100%;
            left: 0;
            overflow-x: hidden;
            overflow-y: auto;
            position: absolute;
            top: 0;
            width: 40em;
        }

            #sidebar > .inner:after {
                content: '';
                display: block;
                height: 4em;
                width: 100%;
            }

        #sidebar .toggle {
            text-indent: 6em;
            width: 6em;
            color: var(--green);
            left: 38.5em;
        }

            #sidebar .toggle:before {
                font-size: 3.5em;
                margin-left: 0.15em;
                color: var(--green);
                margin-top: 0.45em;
            }

    body.is-preload #sidebar {
        display: none;
    }

    #sidebar.inactive {
        margin-left: -38em;
    }
}

@media screen and (max-width: 736px) {

    #sidebar .toggle {
        text-indent: 7.25em;
        width: 7.25em;
    }

        #sidebar .toggle:before {
            color: #7f888f;
            margin-left: -0.0625em;
            margin-top: -0.25em;
            font-size: 1.1rem;
            z-index: 1;
        }

        #sidebar .toggle:after {
            background: rgba(222, 225, 226, 0.75);
            border-radius: 0.375em;
            content: '';
            height: 3.5em;
            left: 1em;
            position: absolute;
            top: 1em;
            width: 5em;
        }
}


header.major > :last-child {
    border-bottom: solid 1px var(--black) !important;
    display: inline-block !important;
    /* margin: 0 0 2em 0;*/
    padding: 0 0 0.5em 0 !important;
    color: var(--green) !important;
    font-family: var(--fntFamily1) !important;
    font-weight: 700 !important;
    font-size:14px !important;
    line-height: 1.5 !important;
    margin: 0 0 1em 0 !important;
}

#other ul {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #626262;
    font-family: var(--fntFamily1) !important;
    font-family: 12px;
    letter-spacing: 0.04em !important;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

    #other ul a, #other ul span {
        border-bottom: 0;
        color: black;
        cursor: pointer;
        display: block;
        font-size: 13.5px !important;
        padding: 0.325em 0 !important;
        font-family: var(--fntFamily1) !important;
        text-transform: capitalize !important;
        color: var(--green) !important;
        font-weight: 500 !important;
        outline: none !important;
    }

        #other ul a:hover, #other ul span:hover {
            color: var(--blue) !important;
        }

        #other ul a.opener, #other ul span.opener {
            -moz-transition: color 0.2s ease-in-out;
            -webkit-transition: color 0.2s ease-in-out;
            -ms-transition: color 0.2s ease-in-out;
            transition: color 0.2s ease-in-out;
            text-decoration: none;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            position: relative;
        }

            #other ul a.opener:before, #other ul span.opener:before {
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                text-transform: none !important;
                font-family: var(--fntFamily1) !important;
                font-weight: 900;
            }

        input[type="text"],
        input[type="password"],
        input[type="email"],
        input[type="tel"],
        input[type="search"],
        input[type="url"],
        select,
        textarea {
            display: block;
         /*   width: auto;*/
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da !important;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0 !important;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

body, input, select, textarea {
    color: #000;
    font-family: var(--fntFamily2) !important;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.65;
}

    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    button:hover,
    .button:hover {
        color: var(--green) !important;
        background-color: var(--white) !important;
        border-color: var(--green) !important;
        border: 0px solid var(--green) !important
    }

    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
        font-weight: bold !important;
        border: 0.5px solid var(--green) !important;
        border-radius: 0 !important;
        appearance: none;
        cursor: pointer;
        display: inline-block;
        font-size: 0.8em;
        height: 2.7em;
        line-height: 2.0em;
        padding: 0 2.25em;
        text-align: center;
        font-weight:700 !important;
        letter-spacing: 0em !important;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

#header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    /*box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.175);
    border-bottom: none !important;*/
    border-bottom: solid 2px var(--light) !important;
    padding: 3em 0 0em 0;
    margin-left: 1em;
    width: 100%;
    position: relative;
}

body, input, select, textarea {
    color: #000;
    font-family: var(--fntFamily2) !important;
    font-size: 11px !important;
    font-weight: 400;
    line-height: 1.65;
}

h1, h2, h3, h4, h5, h6 {
    color: #3d4449;
    font-family: var(--fntFamily1) !important;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select {
    height: 2.5em !important;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: none;
    border: solid 1px rgba(4, 4, 4, 0.75);
    color: inherit;
    /*display: block;*/
    outline: 0;
    text-decoration: none;
}

*, *:before, *:after {
    box-sizing: content-box !important;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #218257;
    border-radius: 0.375em;
    border: 0;
    box-shadow: inset 0 0 0 2px #218257;
    color: #e7e7e7;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, serif;
    font-size: 0.8em;
    font-weight: 700;
    height: 2.7em;
    letter-spacing: 0.075em;
    line-height: 2.0em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
   /* width: 1em !important;*/
}

/*End of New CSS*/



 .line {
    border-bottom: 1px solid var(--black);
    margin: 10px;
}

img {
    width: auto;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.tariff table, .tariff th, .tariff tr, .tariff td {
    border: 1px solid #e0e0e0 !important;
    color: #23272b !important;
    height: 60px;
    white-space: nowrap;
    padding: 50px;
    text-align: center;
    vertical-align: middle !important;
    background-color: #ffffff !important;
}

.tariff2 table, .tariff2 th, .tariff2 tr, .tariff2 td {
    border: 1px solid #e0e0e0;
    height: 50px;
    white-space: nowrap;
    padding: 20px;
    vertical-align: middle !important;
}




.table-hover tbody tr:hover td {
    --bs-table-accent-bg: transparent;
}


@media (max-width:1007px) {
    div .large {
        display: none;
    } 

    img.large {
        display: none;
    }

    h3.large {
        display: none;
    }

    img.large2 {
        display: none;
    }

    img.large3 {
        display: none;
    }

    img.large4 {
        display: none;
    }

    img.small {
        display: block;
    }

    img.small2 {
        display: block;
        width: 320px;
        max-width: 400px;
    }

    img.small3 {
        display: block;
        max-width: 400px;
    }

    p.small {
        display: block;
        font-size: 20px;
        font-weight: bold;
    }
    div.small {
        display: block;
    }
}

@media (min-width:1007px) {
    div.large {
        display: block;
    }

    img.large {
        display: block;
        float: right;
        margin: auto;
        margin-right: 0px;
    }

    img.large2 {
        display: block;
        max-width: 1400px;
        margin: auto;
    }

    img.large3 {
        display: block;
        max-width: 450px;
        margin: auto;
    }

    h3.large {
        display: block;
    }

    img.large4 {
        display: block;
        margin: auto;
    }


    img.small {
        display: none;
    }

    img.small2 {
        display: none;
    }

    img.small3 {
        display: none;
    }

    p.small {
        display: none;
    }

    div.small {
        display: none;
    }
}

@media( max-width: 992px ){
    :root { 
        --fnt14: 0.875rem;
        --fnt16: 1rem; 
        --fnt18: 1rem; 
        --fnt24: 1rem;
        --fnt32: 1.3rem; 
        --fnt56: 2rem;
        --fnt70: 45px;
    }

}
.quick-links{padding-bottom: 2px; border-bottom: 1px solid #000000; display: flex; flex-direction: row; align-items: center;}
.quick-links-border{padding-bottom: 2px; border-bottom: 1px solid #212529; display: flex; flex-direction: row; align-items: center;}
.port-services{width:200px; height:60px; border-radius: 10px; display:flex; justify-content: center; align-items: center; background-color: #1B8257; color:white; flex-shrink: 0; margin-right: 10px;}
.number-container {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B8257;
    color: white;
    flex-shrink: 0;
    margin-right: 10px;
}
.nav-style{position: fixed; top: 0; left: 0; right:0; z-index: 9999; background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

body{ font-family: var(--fntFamily1); }
a{ text-decoration: none; transition: all 0.2s linear; }
a.text-green:hover{ color: var(--green); }
.brd-green{ border-color: var(--green) !important; }

picture source, picture img{ width: 100%; }

.bg-light{ background-color: var(--light) !important; }
.bg-green{ background-color: var(--green); } 

.text-green{ color: var(--green); } 

.btn-primary{ display: inline-block; padding: 10px 30px; font-family: var(--fntFamily1); font-weight: bold; font-size: var(--fnt20); color: var(--white); background-color: var(--green); border: 1px solid var(--green); transition: all 0.2s linear; }
.btn-primary:hover{ color: var(--green); background-color: var(--white); border-color: var(--green); }

.btn-secondary{ display: inline-block; padding: 10px 30px; font-family: var(--fntFamily1); font-weight: bold; font-size: var(--fnt20); color: var(--green); background-color: var(--white); border: 1px solid var(--green); transition: all 0.2s linear; }
.btn-secondary:hover{ color: var(--white); background-color: var(--green); border-color: var(--green); }

.par-1{ font-size:var(--fnt24); }


/* FOOTER */
footer { margin-top: 70px; }
footer .menu-footer{ padding-inline-start: 0; margin-bottom: 0; }
footer p, footer a{ font-size: var(--fnt14); }
footer a.active{ color: var(--blue); }
footer .menu-footer li{ list-style: none; margin-bottom: 10px; }
footer .menu-footer li:last-child{ margin-bottom: 0; }
footer .menu-footer li a, footer .title-footer{ font-size: var(--fnt18);  }

/* HOMEPAGE */
.slider-homepage{ position: relative; max-width: 100%; } 
.slider-homepage .inner{ position: absolute; display: flex; align-items: flex-end; bottom: 0; left: 0; height: 50%; width: 100%; z-index: 1; 
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,54,119,0.6965161064425771) 66%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,54,119,0.6965161064425771) 66%);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,54,119,0.6965161064425771) 66%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#003677",GradientType=1); }
.slider-homepage .caption .title{ color: #fff; font-size: var(--fnt70); font-weight: bold; margin-bottom: 20px;  }
.slider-homepage .nav-swiper-bottom{ position: absolute; bottom: 20px; right: 20px; width: 210px; }
.slider-homepage .nav-swiper-bottom .swiper-button-prev, .slider-homepage .nav-swiper-bottom .swiper-button-next{ color: #fff; } 
.nav-swiper-bottom{ position: relative; text-align: center; }
.swiper-button-next, .swiper-button-prev{position: relative; display: inline-block; margin: 0px 10px; top: unset; left: unset; right: unset; width: auto; height: auto; margin-top: 0; }
.slider-homepage .swiper-button-prev:after{ content: ''; display: block; width: 80px; height: 80px; background-image: url('../../images/icons/arrow-left-home-slider.svg'); background-position: center; background-repeat: no-repeat; background-size: 70px; }
.slider-homepage .swiper-button-next:after{ content: ''; display: block; width: 80px; height: 80px; background-image: url('../../images/icons/arrow-right-home-slider.svg'); background-position: center; background-repeat: no-repeat; background-size: 70px; }


.slider-homepage .swiper-slide{ overflow: hidden; }
.slider-homepage .swiper-slide picture source, .slider-homepage .swiper-slide picture img {
  transition: 5.5s ease-out;
  transform: scale(1);
}

.slider-homepage .swiper-slide.swiper-slide-active picture img, .slider-homepage .swiper-slide.swiper-slide-active picture source {
  transform: scale(1.20);
}

.sez-about-home .box-text-over-top{ position: relative; top: -70px; z-index: 2; padding: 50px 30px; background-color: #fff; -webkit-box-shadow: var(--boxShadow1); -moz-box-shadow: var(--boxShadow1); box-shadow: var(--boxShadow1); }
.sez-about-home2 .box-text-over-top{ position: relative; top: -70px; z-index: 2; padding: 50px 30px; background-color: #fff; -webkit-box-shadow: var(--boxShadow1); -moz-box-shadow: var(--boxShadow1); box-shadow: var(--boxShadow1); }
.title-2{ font-size: var(--fnt24); font-family: var(--fntFamily1); font-weight: 400; text-transform: uppercase;  }
.title-2.underline::after{ content:''; display: block; width: 200px; border-top: 1px solid var(--black); margin: 10px auto 10px; }
.p1.underline::after{ content:''; display: block; width: 200px; border-top: 1px solid var(--black); margin: 10px auto 10px; }
.title-2.underline2::after{ content:''; display: block; width:325px; border-top: 1px solid var(--black); margin-top: 10px;}
.title-1{ font-size: var(--fnt32); font-family: var(--fntFamily1); font-weight: bold; margin-bottom: 30px; }
.title-1b{ font-size: var(--fnt32); font-family: var(--fntFamily1); font-weight: bold; }


p{ font-size: var(--fnt18); font-family: var(--fntFamily1); font-weight: 300; margin: 0; }
.p1{ font-size: var(--fnt18); font-family: var(--fntFamily1); font-weight: 300; margin: 0; }

/*.sez-news-home{ margin-top: 100px; }*/
.item-news{ padding: 15px; }
.item-news .inner{ position: relative; padding: 30px 25px; background-color: var(--white); -webkit-box-shadow: var(--boxShadow1); -moz-box-shadow: var(--boxShadow1); box-shadow: var(--boxShadow1);  }
.item-news .date{ padding: 0 0 10px; border-bottom: 1px solid var(--black); margin-bottom: 10px;width: 200px; }
.item-news .title{ font-size: var(--fnt24); font-family: var(--fntFamily1); font-weight: bold; margin-bottom: 20px; }
.item-news .text{ margin-bottom: 20px; }

.box-general-shadow{ padding-top: 15px; }
.box-general-shadow .inner{ background-color: var(--white); padding: 30px; -webkit-box-shadow: var(--boxShadow1); -moz-box-shadow: var(--boxShadow1); box-shadow: var(--boxShadow1); }
.box-general-shadow .inner.p0{ padding: 0; }
.box-general-shadow .title{ font-size: var(--fnt32); font-family: var(--fntFamily1); font-weight: bold; border-bottom: 1px solid var(--black); padding-bottom: 5px; margin-bottom: 15px;  }

.sez-numbers-home ul.text{ padding-inline-start: 0; }
.sez-numbers-home ul.text li{ font-size: var(--fnt18); font-family: var(--fntFamily1); font-weight: 300; margin: 0; list-style: none; }

/* OUR FACILITIES */
.intro-about{ position: relative; padding: 70px 0; background-image: url('../../images/our-facilities/testata.jpg'); background-size: cover; background-position: top left; }
.intro-about .inner{ background-color: #fff; padding: 50px; -webkit-box-shadow: var(--boxShadow1); -moz-box-shadow: var(--boxShadow1); box-shadow: var(--boxShadow1); }
.intro-about .inner .title-2.underline::after{ margin-left: 0; }
.intro-about .inner .title-2.underline2::after{ margin-left: 0; }

.intro-about .inner .title-1{ margin-bottom: 20px; }

.title-over-bottom{ position: relative; display: inline-block; padding: 15px 50px; background-color: var(--white);  bottom: -50px; z-index: 2; margin: 0 auto; } 

.sez-box-type-2 .item-box{ padding: 50px; }
.sez-box-type-2 .item-box .header-box{ margin-bottom: 10px; }
.sez-box-type-2 .item-box .title{ font-size: var(--fnt32); font-family: var(--fntFamily1); padding-bottom: 10px; border-bottom: 1px solid var(--black); width: calc(100% - 140px)  }
.sez-box-type-2 .item-box .title.title-full{ width: 100%; }
.sez-box-type-2 .item-box .icon-box{ position: relative; width: 120px; height: 120px; }  
.sez-box-type-2 .item-box .icon-box img{ max-width: 100%; }
.sez-box-type-2 .item-box .items-box-2{ padding-inline-start: 0; }
.sez-box-type-2 .item-box .items-box-2 li{ list-style: none; padding-bottom: 15px; margin-bottom: 15px; font-size: var(--fnt24); }
.sez-box-type-2 .item-box .items-box-2  li.brd-bottom{ border-bottom: 1px solid #e6e6e6;}
.col-brd-right{ border-right: 1px solid #e6e6e6; max-height: 50%; margin-top: 50px; }

.sez-facilities-slider{ position: relative; overflow: hidden; padding: 100px 0 30px; }  
.sez-facilities-slider .slick-slide .inner{ background-color: var(--white);}
.sez-facilities-slider .swiper-slide{ opacity: .5; } 
.sez-facilities-slider .slick-slide .inner img{ width: 100%; }
.sez-facilities-slider .slick-slide .content .title{ font-size: var(--fnt32); font-family: var(--fntFamily1); padding-bottom: 15px; border-bottom: 1px solid var(--black); }

/* TABLE PAGES */
.bootstrap-table .fixed-table-container .fixed-table-body {
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
}

.sez-intro-service{ margin: 80px auto; position: relative; z-index: 2; }
table{ font-family: var(--fntFamily2); }
table th, table td{ vertical-align: top !important;/* padding: 5px !important*/; }
table.table-style-1 thead tr{ background-color: var(--green); color: var(--white); }
table.table-style-1 thead tr th:not(:last-child){ border-right-color: var(--white); }
.sez-table{ position: relative; z-index: 2; margin-top: 70px; }
.sez-table .inner{ padding: 30px; }
.sez-table .inner .title-boc{ font-size: var(--fnt24); padding-bottom: 10px; border-bottom: 1px solid var(--black); }
.page-item.active .page-link{ background-color: var(--green); border-color: var(--green); }
.bootstrap-table .btn-secondary{ padding: 10px; border-radius: 0px; font-weight: normal; }
.bootstrap-table .pagination .page-item:not(.active) .page-link{ color: var(--black); }

.bootstrap-table .fixed-table-container .table.table-style-1 thead tr{ border: 1px solid var(--green) !important; }
.bootstrap-table .fixed-table-container .table.table-style-1 thead th:not(:first-child){ min-width: 120px; max-width: 180px; } 
.bootstrap-table .fixed-table-container .table.table-style-1 tbody td{ border: 1px solid var(--black); }

.bootstrap-table .fixed-table-container .table thead th .asc{ background-image: url('../../images/icons/arrow-table-up.svg'); }
.bootstrap-table .fixed-table-container .table thead th .desc{ background-image: url('../../images/icons/arrow-table-down.svg'); }

.item-list-2{ margin: 20px 0; }
.item-list-2 .title{ font-size: var(--fnt24); font-family: var(--fntFamily1); margin-bottom: 5px; font-weight: 400;}

.menu-inline{ padding-inline-start: 0; }
.menu-inline li{ display: inline-block; margin-right: 15px; font-size: var(--fnt16); }

.btn-custom-1{ border: 1px solid var(--green); background-color: var(--green); color: var(--white); transition: all 0.2s linear; }
.btn-custom-1:hover{ cursor: pointer; background-color: var(--white); color: var(--green); }

.btn-custom-2 {
    border: 1px solid var(--green);
    background-color: var(--white);
    color: var(--green);
    transition: all 0.2s linear;
}

    .btn-custom-2:hover {
        cursor: pointer;
        background-color: var(--green);
        color: var(--white);
    }


/* VESSELS LOCATOR backgrounds 
.bg-texture{ position: relative; max-width: 100%; overflow: hidden; }
.sez-texture{ position: absolute; top: 0; left: 0; width: 100%; height:50vh; max-width: 100%; z-index: 0; overflow: hidden; }
.sez-texture::before, .bg-texture::before { content: ""; background-image: url('../../images/icons/line-bg.svg'); background-repeat: repeat; position: absolute; width: 500%; height: 500%; top: -100%; left: -100%; transform: rotate(30deg); }
.bg-texture::after { content: ''; position: absolute; display: block; height: 20%; width: 100%; left: 0; bottom: 0; background-color: var(--white); z-index: 0; }
.bg-texture div.container { position: relative; z-index: 1; }
*/
/* FORMS */
form input.form-control{ border-radius: 0; height: 50px; line-height: 50px; border-color: #000; }
.form-group{ margin-bottom: 20px; }
form label{ font-size: 14px; margin-top: 10px; }
form label.label-captcha{ font-size: 18px; font-weight: bold; background-color: #c0c0c0; }
::placeholder { color: var(--black) !important; opacity: 1; }
form input::file-selector-button{ color: var(--green); background: transparent; background-color: #fff; border: 1px solid var(--green); padding: 0 35px; height: 40px; line-height: 40px; font-size: 14px; transition: 0.2s linear; }
form input::file-selector-button:hover{ cursor: pointer; }
form .input-file-custom { position: relative; }
form .input-file-custom::before{ content: ''; position: absolute; top: 50%; left: 10px; display: block; width: 25px; height: 25px; background-color: transparent; background-image: url('../../images/icons/upload-file.svg'); background-size: 20px; background-repeat: no-repeat; margin-right: 10px; transform: translateY(-50%); }

/* VIDEO PAGE */
.sez-video{ margin: 80px auto; }
.sez-video iframe, .sez-video video{ width: 100%; }
.col-video{ padding: 30px; }
.col-menu{ padding: 30px; padding-right: 0; }
.col-menu .accordion .accordion-item{ border: none; background-color: unset; background: transparent; }
.col-menu .accordion .accordion-item .accordion-body{ padding: 0; }
.menu-video{ padding-inline-start: 0; }
.menu-video li{ list-style: none; padding: 20px; background-color: rgba(255,255,255,.3); margin-bottom: 10px; }
.menu-video li.active, .menu-video li:hover{ background-color: rgba(255,255,255,1); cursor: pointer; }
.menu-video li a{ color: var(--black); }

.col-video .title-video{ padding: 30px; background-color: #fff; }
.col-video .title-video .title{ border-bottom: 1px solid var(--black); padding-bottom: 10px; margin-bottom: 10px; }
.item-video{ display: none; }
.item-video.active{ display: block; }


/* MENU */
a, a:hover, a:focus {
    color: var(--green);
    outline: none!important;
    transition: 0.5s;
}
.dropdown {
    position: unset;
}
.dropdown-toggle::after {
  content: '';
  width: 12px;
  height: 6px;
  background: url("https://gbdemo.it/grimaldi/images/icons/arrow-menu.svg") no-repeat center center;
  background-size: contain;
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  border: 0;
  transition: .5s;
}
.dropdown-toggle.show::after {
  content: '';
  width: 12px;
  height: 6px;
  transform: rotate(180deg);
  background: url("https://gbdemo.it/grimaldi/images/icons/arrow-menu.svg") no-repeat center center;
  background-size: contain;
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  border: 0;
}
.navbar a {
    font-family: 'Roboto Condensed', Arial, Helvetica , sans-serif!important;
    text-transform: uppercase;
    color: var(--green);
    font-weight: 700;
    outline: none !important;
}
.navbar-nav .dropdown-menu {
  border-radius: 0;
  margin-top: 0;
  border: 0;
  border-bottom: 1px solid #f6f6f6;
  width: 100%;
}
.navbar-nav .dropdown-menu.show {
  display: flex;
  justify-content: center;
  padding: 0 30px;
}
.navbar a:hover, .navbar a:focus {
    color: var(--blue);
    width: max-content;
}
.navbar .nav-link {
    line-height: .8;
    padding: 10px 0 !important;
    margin: 0 15px;
}
.navbar .nav-link.active {
    color: var(--blue);
    border-bottom: 5px solid var(--blue); 
} 
.sub-menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
border-left: 2px solid var(--blue);
margin-left: 1rem;
    flex-direction: column;
}
.sub-menu li {
    padding-left: 0;
}
.sub-menu .dropdown-item {
  font-weight: 400;
  text-transform: none;
}

/*header {
    position: relative;
    z-index: 10;
    background-color: var(--white);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.46);
}*/

/* animated dropdown */
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }

@keyframes slideIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(-1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
.navbar-toggler {
  color: var(--black);
  border: 0;
}
.navbar-toggler:focus { -webkit-box-shadow: var(--boxShadow1); -moz-box-shadow: var(--boxShadow1); box-shadow: none; }

.btn-small.btn-secondary {
  font-size: 1rem;
  margin: 10px;
  padding: 5px 15px;
}
.login-data {
  margin-bottom: 10px;
}
.centered {
    display: block;
    margin: 0 auto;
}



/* custom form styles */
.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 180px;
  height: 180px;
  margin: 10px;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: transparent;
  border: 1px solid #000000;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator, .control input:focus ~ .control__indicator {
  background: #fff;
}
.control input:checked ~ .control__indicator {
  background: #fff;
}
.control:hover input:not([disabled]):checked ~ .control__indicator, .control input:checked:focus ~ .control__indicator {
  background: #fff;
  color: #000000;
}
.control input:disabled ~ .control__indicator {
  background: #FFF;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #000000;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: var(--green);
}
.control--radio .control__indicator::after {
  left: 6px;
  top: 6px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #000000;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: var(--green);
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: var(--green);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover, .select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: var(--green) transparent transparent transparent;
}
.select select:hover ~ .select__arrow, .select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}
.radio-group {
  padding: 10px 0;
}
.radio-group .control {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin: 0 20px 10px 0;
  cursor: pointer;
  font-size: .875rem;
  vertical-align: text-top;
}
/* end custom form styles */

.cta {
    margin: 20px 0;
}





/* mq media queries */
@media screen and (min-width: 1400px) {
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: 1440px;
}
.navbar-nav .dropdown-menu.show {
  display: flex;
  justify-content: space-between;
  padding: 0 calc(50% - 720px);
}
}
@media screen and (max-width: 767px) {
.nav-item {
  width: max-content;
  padding: 5px 0;
}
    .navbar-nav .dropdown-menu.show {
  display: flex;
  justify-content: center;
  padding: 0 30px 0 0;
  width: 100%;
  flex-direction: column;
}
    .navbar-collapse.show {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
    .navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: flex-start;
}
    .navbar-nav {
  margin-left: 0 !important;
}
    .sub-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  border-left: 2px solid var(--blue);
  margin-left: 1rem;
  flex-direction: column;
}
}


/* TESTATA 2 */ 
.intro-2 .inner{ padding: 50px; -webkit-box-shadow: var(--boxShadow1); -moz-box-shadow: var(--boxShadow1); box-shadow: var(--boxShadow1); }
.intro-2 .inner .title-2.underline::after{ margin-left: 0; }
.intro-2 .inner .title-2.underline2::after{ margin-left: 0; }



@media( min-width: 993px ){
    /* HOMEPAGE */
    .slider-homepage .swiper-slide{ max-height: 90vh; }

    /* OUR FACILITIES */ 
    .sez-facilities-slider .swiper-slide.swiper-slide-active{ padding: 0; }

    /* VIDEO PAGE */
    .col-menu .accordion .accordion-item .accordion-header{ display: none; }

} 

@media( max-width: 992px ){
    /* HOMEPAGE */
    .slider-homepage .inner{ padding-bottom: 100px; }

    .bg-texture::after{ display: none; }
    .intro-2 .btn-secondary, .intro-2 .btn-primary{ display: block; width: 100%; }
    .intro-2 .btn-secondary:not(:first-child), .intro-2 .btn-primary:not(:first-child){ margin-top: 20px; margin-left: 0 !important; }

    .swiper-button-prev:after, .swiper-button-next:after{ width: 50px; height: 50px; background-size: 50px; } 

    .btn-primary, .btn-secondary{ display: inline-block; padding: 7px 20px; font-size: var(--fnt16);} 


    /* VIDEO */
    .col-menu, .col-video{ padding: 20px; }
    .col-menu .accordion .accordion-item .accordion-body{ padding: 10px 0 0; }


    /* OUR FACILITIES */
    .intro-2 .inner{ padding: 20px; }
    .sez-box-type-2 .item-box{ padding: 15px; } 

}

@media(max-width: 767px){
    form .btn-primary, form .btn-secondary{ display: block; width: 100%; }
    form .btn-secondary{ margin-top: 10px; margin-left: 0 !important; }

    .navbar-toggler-icon{ background-image: var(--bs-navbar-toggler-icon-bg); }
}






.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* end animated components */

/* start additional styles */
.my-5 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.btn-primary, .btn-secondary {
    text-transform: uppercase;
}
.sez-about-home, .intro-2 {
  background: url("../../images/bkg-diagonal.svg") repeat-x center top;}
.sez-about-home2, .intro-2 {
    background: none;
}
.sez-texture {
  background: url("../../images/bkg-diagonal.svg") repeat-x center top;
    min-height: 580px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 50px;
}
.slider-homepage .btn-primary, .slider-homepage .btn-secondary {
  border: 0.5px solid var(--white);
}   
.slider-2 .slick-slide{ opacity: .5; transition: all 0.2s linear;}
.slider-2 .slick-slide .inner{ transition: all 0.2s linear;} 
.sez-facilities-slider .slider-2 .slick-center{ opacity: 1; }
.sez-facilities-slider .slider-2 .slick-center .inner{ -moz-transform: scale(1.08); -ms-transform: scale(1.08); -o-transform: scale(1.08); -webkit-transform: scale(1.08); opacity: 1; transform: scale(1.08); } 
.sez-facilities-slider .swiper-slide-active{ padding: 0; }
.sez-facilities-slider .swiper-slide .inner{  margin: 0 auto; }
.sez-facilities-slider .swiper-slide-active .inner {
  width: 100%;
}


/* mq media queries */

/* container breakpoints mod */

@media (min-width: 576px){
.container, .container-sm {
  max-width: 708px;
}
}
@media (min-width: 768px){
.container, .container-md {
  max-width: 930px;
}
}
@media (min-width: 992px){
  .container, .container-lg{
    max-width: 1080px;
  } 

  .slider-2 .slick-slide{ margin: 50px; }

}  


@media screen and (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1440px;
  }
  .navbar-nav .dropdown-menu.show {
    display: flex;
    justify-content: space-between;
    padding: 0 calc(50% - 720px) 20px;
  }
}
@media (max-width: 992px) {
  .intro-2 .btn-secondary, .intro-2 .btn-primary {
    display: flex;
    width: max-content;
  }

  .sez-box-type-2 .item-box .icon-box{ width: 80px; height: 80px; }
  .sez-box-type-2 .item-box .title{ width: calc(100% - 100px); }
}
@media screen and (min-width: 768px) {
  .navbar-expand-md {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .slider-homepage .caption {
    padding: 30px 30px 0 !important;
  }
          .slider-homepage .inner {
    height: 60%;
  }
  .intro-2.type-1 .position-absolute{ position: relative !important; }
}

 @media screen and (max-width: 576px) {
  .slider-homepage .inner {
    height: 70%;
  }
       .btn-primary {
    font-size: 1rem;
    padding: 10px 20px;
  }
       .slider-homepage .caption .title {
    font-size: 2rem;
  }
       .subtitle.text-white.mb-3 {
    font-size: 1rem;
    margin-bottom: 5px !important;
    font-weight: 700;
  }
}

.WebContainer{
  width:100%;
  min-width:1000px;
  height:auto;
}


/*********************************************************************/

 

.mGrid {
    color: #000;
}

.mGrid a {
    background-color: #ccc;
    padding: 5px 7px;
    text-decoration: none;
    border: 0px solid #fff;
}

    .mGrid a:hover {
        background-color: #ccc;
        color: #787878;
        border: 0px solid #000;
    }

.mGrid td {
    border: 1px solid #000;
    text-align: left;
}

.mGrid th {
    background-color: #1B8257;
    color: #fff;
    border: 1px solid #fff;
}
 

.mGrid2 {
    color: #000;
}

.mGrid2 a {
    background-color: #ccc;
    padding: 5px 7px;
    text-decoration: none;
    border: 0px solid #fff;
}

    .mGrid2 a:hover {
        background-color: #ccc;
        color: #787878;
        border: 0px solid #000;
    }

.mGrid2 td {
    border: 1px solid #000;
    text-align: left;
}

.mGrid2 th {
    background-color: white;
    color: #222529;
    border: 1px solid #fff;
}



.mGrid {
    color: #000;
}

    .mGrid a {
        background-color: #ccc;
        padding: 5px 7px;
        text-decoration: none;
        border: 0px solid #fff;
    }

        .mGrid a:hover {
            background-color: #ccc;
            color: #787878;
            border: 0px solid #000;
        }

    .mGrid td {
        border: 1px solid #000;
        text-align: left;
    }

    .mGrid th {
        background-color: #1B8257;
        color: #fff;
        border: 1px solid #fff;
    }


.mGrid2 {
    color: #000;
}

    .mGrid2 a {
        background-color: #ccc;
        padding: 5px 7px;
        text-decoration: none;
        border: 0px solid #fff;
    }

        .mGrid2 a:hover {
            background-color: #ccc;
            color: #787878;
            border: 0px solid #000;
        }

    .mGrid2 td {
        border: 1px solid #000;
        text-align: left;
    }

    .mGrid2 th {
        background-color: white;
        color: #222529;
        border: 1px solid #fff;
    }

.MyCalendar .ajax__calendar_container {
    width: 210px;
    border: 2px solid var(--green);
    background-color: white;
    border-radius: 10px;
}

.MyCalendar .ajax__calendar_days {
    color: var(--green);
    font-weight: bolder;
}

.MyCalendar .ajax__calendar_header {
    background-color: var(--white);
    color: var(--green);
    border-bottom: 2px solid grey;
}

.MyCalendar .ajax__calendar_body {
    width: 300px;
    height: 170px;
}
